/* IMPORTS */
@import 'seteo';
@import '404';
@import 'hotsale';
@import 'productos';
@import 'carrito';
@import 'contacto';


/* INDEX */
/* BEM -> Información */
.data{
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 30px 0;
    &__instru{
        border: 2px solid white;
        padding: 15px;
        background-color: black;
        &:hover{
            box-shadow: 0px 0px 8px 5px rgba(255,255,255,0.30);
            transition: 0.3s;
        }
        .data__p{
            margin-top: 30px;
            color: white;
        }
        .data__title{
            color: $amarillo;
            margin: 20px 0;
            font-family: 'Bebas Neue';
            font-size: 1.5rem;
        }
    }
}
/* INDEX y BEM -> Información -MEDIA QUERY */
@media only screen and (max-width: 400px){
    .gridContainer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header" "main" "footer";
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
            .flexFooterContainer{
                flex-direction: column;
                align-content: center;
            }
            #marca{
                padding: 0 10px;
            }
        }
    }
    header{
        grid-area: header;
        nav{
            display: none;
        }
    }
    iframe, video{
        width: 300px;
        margin-top: 20px;
    }
    .data{
        display: flex;
        flex-direction: column;
        &__instru{
            margin: 20px 10px 0px 10px;
        }
    }
}
@media only screen and (min-width: 401px) and (max-width: 960px){
    .gridContainer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 160px auto 180px;
        grid-template-areas: 'header header'
                            'main main'
                            'footer footer';
        header{
            grid-area: header;
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
    }
    
    .flexContainerNuevos{
        display: flex;
        flex-direction: column;
        align-items: center;
        iframe, video{
            width: 400px;
        }
    }
    
    .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        &__instru{
            width: 35%;
            margin: 10px 0;
            .data__img{
                width: 110px;
            }
        }
    }
}
@media only screen and (min-width: 961px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .data{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        &__instru{
            width: 20%;
        }
    }
}

/* BEM MENU MOBILE */
.wrapper{
    display: none;
    background-color: black;
    position: sticky;
    top: 100px;
    width: 100%;
    z-index: 2;
    &__lista{
        margin: 0;
        .wrapper__item{
            height: 50px;
            border-bottom: 2px solid $blanco;
            position: relative;
            .wrapper__a{
                padding: 10px 0;
                display: block;
                .wrapper__icon{
                    position: absolute;
                    left: 25px;
                    top: 11px;
                    font-size: 1.3rem;
                    color: $blanco;
                }
                .wrapper__span{
                    font: bold 1.3em 'Bebas Neue';
                    color: $blanco;
                }
            }
        }
        .wrapper__item--active:hover .wrapper__a{
            background-color: $blanco;
            color: black;
            transition: 0.3s;
            .wrapper__icon{
                color: black;
            }
            .wrapper__span{
                color: black;
            }
        }
    }
}
.wrapper--active{
    display: block;
}


/* BEM MENU MOBILE - BOTON */
.toggle{
    background-color: black;
    color: $blanco;
    font-size: 2.5rem;
    width: 60px;
    display: none;
    &__icon{
        position: absolute;
        top: 20px;
        left: 15px;
    }
    &__icon:last-child{
        opacity: 0;
    }
}
.toggle--active{
    .toggle__icon:first-child{
        opacity: 0;
    }
    .toggle__icon:last-child{
        opacity: 100;
    }
}
@media only screen and (max-width: 400px){
    .toggle{
        display: inherit;
    }
}